@model EmployeeViewModel

<div class="container">
    <div class="text-right">
        @Html.ActionLink("Create New", "Update", null, new { @class = "btn btn-primary" })
    </div>

    <div class="card" >
        <div class="card-header">
            Current Employer Total Expenses
        </div>
        <div class="card-body">
            <div class="form-row">
                <label>Total Salary Expense</label>
                <label class="ml-auto">@Model.TotalSalaryExpense</label>
            </div>
            <div class="form-row">
                <label>Total Employee Package Expense</label>
                <label class="ml-auto">@Model.TotalPaidPackageExpense</label>
            </div>
            <div class="form-row">
                <label>Total Employees</label>
                <label class="ml-auto">@Model.employees.Count()</label>
            </div>
        </div>
    </div>

    <hr class="col-12">
    <div class="card results">
        <div class="card-header">
            <h4>Current Employees</h4>
        </div>
        <table id="EmployeeList" class="table-striped table-hover table-bordered w-100">
            <thead>
                <tr>
                    <th scope="col" style="min-width:70px"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Annual Salary</th>
                    <th scope="col">Employer Paid Package</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.employees)
                {
                    <tr>
                        <td class="text-center no-decoration">
                            <a href="@Url.Action("Update", "Employee", new { id = row.EmployeeID })">
                                <span class="far fa-edit"></span>
                            </a>
                        </td>
                        <td>@row.FirstName @row.LastName</td>
                        <td>@row.AnnualSalary</td>
                        <td>@row.isEmployerPackagePaid</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="card-footer">
            <p class="font-weight-bold">Note:</p>
            <ul class="fa-ul">
                <li>Select the <i class="far fa-edit"></i> icon to edit </li>
            </ul>
        </div>
    </div>
</div>